html {
    background-size: auto;
    height: 100%;
    overflow-x:hidden;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: hsl(240, 6%, 50%);

}
.box{
    min-height: 650px;
    display: flex;
    flex-flow: column;
    background: white;
    margin: 160px 20px 20px 20px;
    border-radius: 30px;
}
.mobile{
    display: flex;
    justify-content: center;
}
.desktop{
    display: none;

}

.mobile .img-desktop{
    position: absolute;
    z-index:3;
    margin-top:-110px;
    margin-left: -15px;
}
.wrapper1{
    overflow:hidden;
    position: absolute;
    left:15%;
    margin-left: 5px;
    margin-top: -60px;
    align-self: center;
    z-index: 2;

}
.desktop .wrapper1 .img-desktop{
    margin-left: -75px;
}
.wrapper2{
    overflow:hidden;
    position: absolute;
    left:15%;
    width: 50%;
    margin-left: 5px;
    z-index: 1;
    align-self: center;
    height: 650px;

}
.desktop .wrapper2 .img-bg{
    margin-top: -240px;
    margin-left: -570px;
    z-index: -1;
}
.img-box{
    position: absolute;
    align-self: center;
    left:15%;
    margin-top: 10px;
    margin-left: -95px;
    z-index: 2;
}

.q\&a{
    width: 100%;
    display: flex;
    flex-flow: column;
    z-index:3;
}
.title{
    align-self: center;
}
.title h1{
    color: hsl(237, 12%, 33%);
    font-weight: 700;
    font-size: 35px;
}

.question{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row;
}

.question:hover{
    cursor:pointer;
}

.q{
    margin-left: 30px;
}
.answer{
    font-size: 12px;
    margin-left: 30px;
    margin-right: 80px;
    margin-top: -10px;
    line-height: 20px;
}
.line{
    border-bottom: 1px solid hsl(240, 5%, 91%) ;

    margin-left: 30px;
    margin-right: 25px;
}
.q h3{
    font-weight: 700;
}
.arrow{
    position: absolute;
    align-self:center;
    right: 55px;
}
.attribution {
    margin-top:100px;
    color:black;
    bottom: 10px;
    width:100%;
    font-size: 11px;
    text-align:center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1100px) {
    .box{
        min-height: 650px;
        display: flex;
        flex-flow: row;
        background: white;
        margin: 100px 10% 160px 15%;
        border-radius: 30px;
        padding-left: 370px;
    }

    .mobile{
        display: none;
    }
    .desktop{
        display: flex;
    }
    .arrow{
        position: absolute;
        align-self:center;
        right: 55px;
        margin-right: 10%;
    }
    .title{
        margin-top: 50px;
        align-self: flex-start;
        margin-left: 30px;

    }
    .q\&a{
        display: flex;
        flex-flow: column;
        margin-left: 80px;
    }
}
