*{
    margin:0;
    padding: 0;
}
html{

    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    color:hsl(207, 13%, 34%);
    overflow-x: hidden;
}
.hero{
    display: flex;
    flex-flow: column;
    align-items: center;
    background: linear-gradient(to bottom right,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    background-size: auto;
    height: 650px;
    border-bottom-left-radius: 120px;
    overflow: hidden;

    color:hsl(0, 0%, 100%);
}
#bg{
    align-self: flex-start;
    width:1400px;
    margin-left: -350px;
    margin-top: -310px;
    object-fit: cover;
    object-position: -50% 0;

}
#logo{
    position: absolute;
    left: 20px;
    top: 40px;
}
#logo-menu{
    position: absolute;
    right:20px;
    top: 55px;
}
#hero-text{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    top:150px;
    font-weight: 400;
    font-size: 22px;
}
#t1,#catch-line{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
#hero-buttons button{
    margin-top: 80px;
    margin-left: 10px;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}
menu button{
    margin-top: 15px;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}
#nav-buttons{
    display: flex;
    flex-flow: column;

}
.s1-desktop,.s2-desktop,.s3-desktop{
    display: none;
}
#hb1{
    color:hsl(353, 100%, 62%);
    background: white;
}
#hb2{
    color:white;
    background: transparent;
}
#hb3{
    color:hsl(208, 49%, 24%);
    background: transparent;

}
#hb4{
    color:white;
    background: linear-gradient(to right,hsl(13, 100%, 72%),hsl(353, 100%, 62%));

}
#hb1:hover{
    background: hsl(353, 100%, 62%);
    color:white;
    border:0;
    cursor:pointer;
}
#hb2:hover{
    color:hsl(353, 100%, 62%);
    background: white;
    cursor:pointer;
}
#hb3:hover{
    background: hsl(353, 100%, 62%);
    color:white;
    cursor:pointer;
}
#hb4:hover{
    background: white;
    color : hsl(353, 100%, 62%);
    border: 1px solid hsl(353, 100%, 62%);
    cursor:pointer;
}


.s1-mobile,.s3-mobile{
    display: flex;
    flex-flow: column;
    justify-content: center;
    color:hsl(208, 49%, 24%);
    overflow:hidden;
}

.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow:hidden;
    border-top-right-radius:  120px ;
}
#sn1{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 14px;
}
#sn2{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 19px;
}
#t2,#t4,#t3{
    text-align: center;
}
#t2 h2,#t4 h2{
    font-weight: 700;
    font-size: 28px;
    margin: 40px 0 20px 0;
    padding: 0 30px 0 30px;
}
#t2 p,#t4 p,#t3 p{
    line-height: 30px;
    letter-spacing: 1px;
    padding: 0 20px 0 20px;
}
#mobile-editor,#mobile-laptop{
    width: 400px;
    align-self: center;
}
#mobile-laptop{
    width: 500px;
}
.desktop-part{
    display: none;
}
#bg-circle{
    width: 600px;
    margin-top: -250px;
    align-self: center;
}
#phones{
    width: 370px;
    margin-top: -530px;
}
.s2-mobile{
    background: linear-gradient(to bottom right,hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    border-radius: 0 120px 0 120px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 80px;
    margin-top: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

menu{
    position: absolute;
    display: none;
    flex-flow: column;
    background: white;
    color:hsl(208, 49%, 24%);
    z-index: 3;
    top:120px;
    right:15px;

    align-self: flex-end;

    width: 345px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    border-radius: 10px;
    line-height: 40px;
    box-shadow: 2px 1px 10px 1px grey;
}
menu .in{
    display: none;

    flex-flow: column;
    margin-top: 10px;
    margin-bottom: 20px;

    background: hsl(0, 0%, 94%);
    border-radius: 5px;
    padding: 10px 80px;
    font-weight: 700;
    color : hsl(208, 39%, 34%);
}
.menu-header{
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor:pointer;
    user-select: none;
}
.in p:hover{
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.menu-header h3:hover{
    text-decoration: underline;
    font-weight:bold;
    cursor:pointer;
}
#menu-text{
    border-bottom: 1px solid lightgrey;
    margin: 25px;
}

.arrow{
    width: 10px;
    height: 10px;
    object-fit: cover;
    align-self: center;
    margin-left: 10px;
}
footer{
    background: hsl(240, 10%, 16%);
    background-size: auto;
    border-top-right-radius: 120px;
    margin-top: 100px;
    padding-top: 80px;
    color:hsl(0, 0%, 100%);
}
#footer-flex{
    display: flex;
    flex-flow: column;
    align-items: center;

}


#footer-logo{
    margin-bottom: 80px;
}
footer .footer-section h3{
    font-size: 21px;
    align-self: center;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 30px;
}
footer .footer-section p{
    word-spacing: 9999rem;
    text-align: center;
    line-height: 40px;
    color: hsl(240, 2%, 79%);

    font-size: 20px;
}
.footer-section p:hover{
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.attribution {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    color:hsl(240, 2%, 79%);
    font-size: 11px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 910px){
    /* hero */
    #bg{
        width: 2800px;
        margin-top: -1100px;
        margin-left: -200px;
    }
    #logo-menu{
        display: none;
    }
    #logo{
        margin-left: 50px;
    }
    #mobile-menu{
        display: none;
    }
    #hero-text{
        margin-top: 50px;
    }
    .s1-mobile,.s2-mobile,.s3-mobile{
        display: none;
    }
    .s1-desktop,.s2-desktop,.s3-desktop{
        display: flex;
    }
    menu{
        width:80%;
        display: flex;
        flex-flow: row;
        background: transparent;
        color:white;
        top:35px;
        margin-right: 50px;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        padding-bottom: 0;
        border-radius: 0;
        line-height: 0;
        box-shadow: none;
        margin-top: 10px;
    }
    #menu-text-desktop{
        display: flex;
        margin-left: 50px;
        margin-top: 10px;
    }
    #hero-text h1{
        font-size: 65px;
    }
    .section{
        margin-left: 10px;
        margin-right: 35px;
    }
    .arrow{
        align-self: center;
        margin-top: -6px;
    }
    menu .in{
        position: absolute;
        line-height: 50px;
        text-align: center;
        width: 200px;
        display: none;
        flex-flow: column;
        margin-top: 20px;
        margin-bottom: 0;
        background: hsl(0, 0%, 94%);
        border-radius: 5px;
        padding: 10px;
        font-weight: 700;
        color : hsl(208, 39%, 34%);
        user-select: none;
    }

    #nav-buttons-desktop{
        display: flex;
        flex-flow: row;
        margin-top: -20px;
    }
    #nav-buttons-desktop button{
        border:0;
    }
    #hb3-desktop{
        background: transparent;
        color: white;
        margin-right: 10px;
    }
    #hb4-desktop{
        background: white;
        color: hsl(353, 100%, 62%);

    }
    #hb3-desktop:hover{
        background: white;
        color:hsl(353, 100%, 62%);
        cursor:pointer;
    }
    #hb4-desktop:hover{
        color : white;
        background:hsl(353, 100%, 62%);
        cursor: pointer;
    }

/* s1 */
    .s1-desktop{
        color: hsl(208, 49%, 24%);
        margin: 100px 0 100px 0;
        display: flex;
        flex-flow: column;
    }
    #sn1-d{
        align-self: center;
    }
    #sn1-d h1{
        font-size: 50px;
    }
    #sub-s1-d{
        margin: 80px 0 0 80px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    #t2-d{
        display: flex;
        flex-flow: column;
        width: 50%;
        height: 700px;
        align-self: center;
        justify-content: center;
        font-size: 20px;
        margin-right: 50px;
    }
    #t2-d h2{
        margin-bottom: 50px;
        margin-top: 30px;
    }
    #mobile-editor-d{
        object-fit: cover;
        width: 1100px;
        margin-top: -130px;
        margin-right: -400px;



    }
/* s2 */
    .s2-desktop{
        background: linear-gradient(to bottom right,hsl(237, 17%, 21%),hsl(237, 23%, 32%));
        border-radius: 0 120px 0 120px;
        color: hsl(0, 0%, 100%);
        margin-bottom: 80px;
        margin-top: 150px;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 150px;

       height: 300px;
    }
    #wrapper3{

        display: flex;
        overflow: hidden;
        margin-top: 150px;
        height: 450px;
        border-bottom-left-radius: 120px;

    }
    #bg-circle-desktop{
        width: 100%;
        object-fit: cover;
        margin-top: -340px;
        margin-left: -170px;

    }
    #phones-desktop{
        position: absolute;
        margin-top: 70px;
        left: 100px;
    }
    #s2-text{
        position: absolute;
        margin-left: 650px;
        margin-right: 50px;

    }
    #sn2-d{

        margin-top: 120px;
        margin-bottom: 20px;
    }
    #sn2-d h1{
        font-size: 35px;
    }
    #t3-d p{
        font-size: 18px;
    }
/* s3 */
    .s3-desktop{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    #desktop-laptop{
        width: 100%;
        object-fit: cover;
        margin-left: -300px;
    }
    #t4-d{
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-right: 50px;

    }
    #t4-d h2{
        font-size: 35px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    #t4-d p{
        font-size: 20px;
    }


/* footer */
    #footer-flex{
        flex-flow: row;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
        align-items: flex-start;
    }
    #footer-flex .footer-section h3{
        margin-top: 10px;
    }

}